doctype html
html(lang="en" class="h-full w-full")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{projectTitle + ' - ' + pageTitle}
    link(rel="stylesheet" href="../styles/fontawesome.css")
    link(rel="stylesheet" href="../styles/style.css")
    link(rel="stylesheet" href="../styles/katex.min.css")
    script(src="../searchMap.js")
    script(src="../searchScript.js")
    style
      include scrollbar.css

  body(class="h-full w-full" style="overflow: hidden;")
    
    div(class="flex flex-row justify-center w-full h-full bg-gray-100 overflow-hidden")
      
      div(class="w-72 flex-shrink-0 max-h-full overflow-y-auto flex flex-col gap-2 p-2 pt-4 ml-4 items-start")
        
        div(class="flex flex-row justify-between gap-1 w-full items-center text-lg pb-2 mb-4 border-b border-gray-900") 
          div(class="font-medium select-none") #{projectTitle}
          div(class="text-gray-400 hover:text-gray-600" id="search-button")
            i(class="fas fa-search")
        
        include searchContext.pug
        
        each fileName in uncategorisedFileNames
          a(href=fileName+'.html')
            div(class="flex flex-row gap-1 select-none w-full items-center hover:text-gray-400 truncate") #{fileName}
        
        each element in categoryFileNames
          div(class="w-full border-t mt-2 border-gray-300")
            div(class="pt-4 pb-2 w-full font-semibold select-none") #{element.category}
            for fileName in element.fileNames
              a(href=fileName+'.html')
                div(class="select-none hover:text-gray-400 flex-grow truncate") #{fileName}

      div(class="max-w-screen-lg flex-grow bg-white flex flex-col")
        div(class="prose max-w-full w-full flex-grow overflow-y-auto p-8") !{content}

      div(class="w-72 max-h-full overflow-y-auto hidden flex-col items-end 2xl:flex")
